<div class="modal-header">
  <h4 class="modal-title">Agende seu horário</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="form-group col-12">
      <label for="soccerPitch">Quadra (*)</label>
      <select
        class="form-control"
        id="soccerPitch"
        [(ngModel)]="selectedSoccerPitch"
        (ngModelChange)="soccerPitchChanged()"
      >
        <option
          [ngValue]="item"
          *ngFor="let item of soccerPitches; let i = index"
        >
          {{ item.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="soccerPitchPlan">Plano (*)</label>
      <select
        class="form-control"
        id="soccerPitchPlan"
        [(ngModel)]="selectedSoccerPitchPlan"
      >
        <option
          [ngValue]="item"
          *ngFor="let item of soccerPitchPlans; let i = index"
        >
          {{ item.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="phone">Data Selecionada</label>
      <div class="input-group">
        <input
          disabled
          class="form-control"
          placeholder="dd/mm/yyyy"
          name="dp"
          ngbDatepicker
          #d="ngbDatepicker"
          [(ngModel)]="selectedDate"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="d.toggle()"
            type="button"
          >
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="hourStart">Horário Inicial (*)</label>
      <select
        [(ngModel)]="selectedHour"
        (ngModelChange)="hourChanged()"
        class="form-control"
        id="hourStart"
      >
        <option
          *ngFor="let item of optionsHours; let i = index"
          [ngValue]="item"
          [selected]="item.hour == hour && i % 2 == 0"
        >
          {{ item.hourStart }}
        </option>
      </select>
    </div>
    <div class="form-group col-6">
      <label for="hourEnd">Horário Final</label>
      <input
        disabled
        type="hourEnd"
        class="form-control"
        id="hourEnd"
        placeholder="00:00"
        [(ngModel)]="hourEnd"
      />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">
    Agendar
  </button>
</div>
