<div class="modal-header">
  <h4 class="modal-title">Agende seu horário</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="form-group col-12">
      <label for="soccerPitch">Quadra (*)</label>
      <select class="form-control" id="soccerPitch">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="soccerPitchPlan">Plano (*)</label>
      <select class="form-control" id="soccerPitchPlan">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="phone">Data Selecionada</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="dd/mm/yyyy"
          name="dp"
          ngbDatepicker
          #d="ngbDatepicker"
          [(ngModel)]="selectedDate"
          (ngModelChange)="dateChanged()"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="d.toggle()"
            type="button"
          >
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="hourStart">Horário Inicial (*)</label>
      <select class="form-control" id="hourStart">
        <option>20:00</option>
        <option>20:30</option>
      </select>
    </div>
    <div class="form-group col-6">
      <label for="email">Horário Final</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Seu Email"
        [(ngModel)]="email"
      />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">
    Agendar
  </button>
</div>
