<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Altere sua senha</div>
        <div class="card-body">
          <div class="form-group col-12">
            <label for="phone">Senha</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="Sua Nova Senha"
                name="dp"
                [(ngModel)]="newPassword"
                type="password"
              />
            </div>
          </div>
          <div class="form-group col-12">
            <label for="phone">Confirmação da Senha</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="Sua Nova Senha"
                name="dp"
                [(ngModel)]="confirmPassword"
                type="password"
              />
            </div>
          </div>
          <div class="form-group col-12">
            <button
              type="button"
              class="btn btn-primary btn-sm w-100"
              style="background-color: #161e53"
              (click)="resetPassword()"
            >
              Enviar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
>
