<div class="modal-header" style="background-color: #ff591f">
  <div>
    <img
      class="center-block img-fluid"
      src="../../../assets/img/logoBlue.png"
    />
  </div>
  <button
    type="button"
    (click)="activeModal.dismiss('Cross click')"
    class="close"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="form-group col-12">
      <label for="name">Email (*)</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Seu Email"
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="phone">Senha (*)</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        mask="(00) 00000-0000"
        placeholder="Sua senha"
      />
    </div>
    <div class="form-group col-12">
      <button
        type="button"
        class="btn btn-primary btn-sm w-100"
        style="background-color: #161e53"
      >
        Entrar
      </button>
    </div>
    <div class="form-group col-12">
      <button
        type="button"
        (click)="signUp()"
        class="btn btn-outline-dark btn-sm w-100"
      >
        Cadastre-se
      </button>
    </div>
  </div>
</div>
